<footer>
    <div class="container py-3 my-4" >
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="https://www.linkedin.com/in/gabrielagustinledezma/" class="nav-link px-2 text-muted">Gabriel Ledezma</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/developer-kevin-villagra/" class="nav-link px-2 text-muted">Kevin Villagra</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/arai-gonzalez-4bb057239" class="nav-link px-2 text-muted">Arai Gonzalez</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/francisco-tomas-salone-gill/" class="nav-link px-2 text-muted">Francisco Salone</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Matias Iriarte</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Adrian Ramirez</a></li>
        </ul>
        <p class="text-center text-muted">©️ 2022 Company, Inc</p>
    </div>
</footer>